<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <h1>Questions</h1>
    <form id="quiz-form">
        <table>
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.question }}</td>
                        <td>
                            <input type="radio" id="option1_{{ question.id }}" name="question{{ question.id }}" value="{{ question.option1 }}">
                            <label for="option1_{{ question.id }}">{{ question.option1 }}</label><br>
                            <input type="radio" id="option2_{{ question.id }}" name="question{{ question.id }}" value="{{ question.option2 }}">
                            <label for="option2_{{ question.id }}">{{ question.option2 }}</label><br>
                            <input type="radio" id="option3_{{ question.id }}" name="question{{ question.id }}" value="{{ question.option3 }}">
                            <label for="option3_{{ question.id }}">{{ question.option3 }}</label><br>
                            <input type="radio" id="option4_{{ question.id }}" name="question{{ question.id }}" value="{{ question.option4 }}">
                            <label for="option4_{{ question.id }}">{{ question.option4 }}</label><br>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Submit Answers</button>
    </form>
    <div id="result"></div>
    <script id="questions-data" type="application/json">
      {{ questions|tojson }}
  </script>
  

      
  <div>
    <p>By Buse Köse</p>
</div>

    
</body>
</html>
